<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/replaceLibrary :: header"></div>
</head>
<body>

<div th:replace="fragments/replaceLibrary :: navbar"></div>

<div class="container-fluid">
    <img class="img-fluid mx-auto d-block h-25" src="../img/civic-type-r.jpg" alt="Honda Civic Type-R">
    <br>
    <p>
        Here you can submit your vehicle to voting or vote on others that have been submitted!
        You can search for your favorite makes and models as well giving you the ultimate virtual
        car show experience
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dui nisi, ultricies et orci eget, scelerisque lobortis mauris. Praesent non odio nec enim fermentum lobortis. Proin accumsan sagittis efficitur. Sed risus arcu, aliquam non felis quis, pharetra aliquet nisl. Curabitur vel erat a ex feugiat iaculis. Phasellus ut ex sem. Praesent bibendum tortor sed eros lobortis sollicitudin. Aliquam et nulla velit. In sed venenatis ligula, auctor tempor arcu. Nam elementum eros ac dignissim lobortis. Vivamus in ipsum sapien. Etiam tempor felis eget tellus pretium, a ultricies est tempus. Nam ut ante pellentesque, interdum eros porta, laoreet ipsum.
        Cras imperdiet mauris dui, sed volutpat tortor mattis vel. Proin ac arcu nec nibh aliquam gravida. Integer viverra quam eget varius ultrices. Sed eleifend, dolor nec lobortis interdum, nisi velit suscipit augue, ut semper nisi nisl quis tellus. Phasellus pellentesque auctor nulla a interdum. Vestibulum lobortis arcu quam, ornare tristique leo consequat sed. Nam purus ante, auctor eget turpis id, ornare consequat odio. Pellentesque rhoncus fringilla odio, nec cursus neque fringilla id. Donec luctus consectetur semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent rutrum, augue a cursus commodo, lectus nisi fermentum mi, nec eleifend nunc lorem id ipsum. Donec tincidunt dui sit amet laoreet malesuada. Sed convallis pellentesque ligula ac facilisis. Mauris bibendum imperdiet ullamcorper. Duis nec consectetur neque. Mauris pretium velit hendrerit dui sagittis, id hendrerit est lacinia.
        In cursus imperdiet metus nec pretium. Donec velit ipsum, consectetur tincidunt felis vel, accumsan semper magna. Duis viverra vel massa id dapibus. Nullam porttitor, nibh non aliquam fermentum, ex neque lobortis sapien, eu imperdiet tortor turpis in magna. Duis tempor tristique magna eget malesuada. Morbi et orci sit amet ex pulvinar rutrum vitae at urna. Mauris vitae velit vel lectus aliquam lobortis a sit amet dui.
        Donec ut mauris aliquam, pellentesque ante a, scelerisque ex. Maecenas dapibus elit eu nibh commodo, a accumsan nulla pulvinar. Donec porta ligula a arcu auctor, vel imperdiet purus bibendum. Quisque lorem augue, aliquam in mollis id, mattis nec justo. Nulla vestibulum magna eros, id interdum tortor blandit a. Aenean nec ante interdum, sodales diam a, dapibus felis. Nulla facilisi. Praesent augue dolor, convallis ac aliquam ac, semper non ex.
        Sed mollis justo a leo viverra, vitae viverra nisi gravida. Etiam aliquam enim et nisl varius sagittis. Vivamus cursus sodales nisl. Phasellus ornare venenatis metus ac convallis. Suspendisse feugiat velit eu purus tristique tempor. Proin accumsan suscipit purus, eget ultricies mauris hendrerit sit amet. Nunc id dolor mollis ligula mollis ullamcorper. In efficitur magna sed fermentum pulvinar. Aenean libero nibh, pretium ac ipsum id, vestibulum cursus metus. Nullam eu lacus id quam facilisis molestie.
    </p>
</div>
</body>
</html>